input[type=text] {
    padding:5px; 
    border:2px solid #1FA2FF; 
    -webkit-border-radius: 5px;
    border-radius: 10px;
    font-size: 18px;
}

input[type=text]:focus {
    opacity: 1;
}